Django==4.1.2
asgiref==3.5.2
autopep8==1.7.0
dj-database-url==1.0.0
gunicorn==20.1.0
pycodestyle==2.9.1
pytz==2022.4
sqlparse==0.4.3
toml==0.10.2
whitenoise==6.2.0
django-environ==0.9.0
djangorestframework==3.14.0
