{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">

        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-12">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                        API Sample - GET
                    </p>
                    <h5 class="font-weight-bolder mb-0">
                      <span id="book-container" class="text-sm font-weight-bolder">
                      </span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

      <div class="row mt-4">

        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">

              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">
                        API Sample
                    </p>
                    <h5 class="font-weight-bolder">
                        Create BOOK
                    </h5>
                    <p class="mb-5">
                        <form id="create-form" class="d-flex flex-column" >{% csrf_token %}
                            <label for="title">Title</label>
                            <input name="title" id="title" />

                            <label for="year">Year</label>
                            <input name="year" id="year" />

                            <input type="submit" class="mt-3" value="submit">
                        </form>
                        <div id="create-error" class="mt-3 text-danger"></div>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
  
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex flex-column h-100">
                      <p class="mb-1 pt-2 text-bold">
                          API Sample
                      </p>
                      <h5 class="font-weight-bolder">
                          Update BOOK
                      </h5>
                      <p class="mb-5">
                          <form id="update-form" class="d-flex flex-column" >{% csrf_token %}
                            <label for="id">Id</label>
                            <input name="id" id="id" />

                            <label for="title">Title</label>
                            <input name="title" id="title" />

                            <label for="year">Year</label>
                            <input name="year" id="year" />

                            <input type="submit" class="mt-3" value="submit">
                          </form>
                          <div id="update-error" class="mt-3 text-danger"></div>
                      </p>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
        </div>
  
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>

    let token = localStorage.getItem('token') || ''
    
    // fetch data
    fetch('/api/books/',{
        method: 'GET'
    })
        .then((response) => {
            if(!response.ok)
                return response.text().then(text => { throw new Error(text) })
            else
                return response.json()
        })
        .then((res) => {
            const dataContainer = document.getElementById('book-container')
            console.log(res)

            res.data.map((d) => {
                Object.keys(d).map((key) => {
                    dataContainer.textContent += key + ": " + d[key] + ", "
                })
            })
        })
        .catch((err) => {
            console.log(err)
        })

        document.getElementById('create-form').onsubmit = (e) => {
            e.preventDefault()
            fetch('/api/books/',{
                method: 'POST',
                body: new FormData(e.target),
                headers: {'Authorization' : `token ${token}`}
            })
                .then((response) => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.json()
                })
                .then((res) => {
                    console.log(res)
                })
                .catch((err) => {
                    document.getElementById('create-error').textContent = err
                })
        }

        document.getElementById('update-form').onsubmit = (e) => {
            e.preventDefault()
            const formData = new FormData(e.target)

            fetch(`/api/books/${formData.get('id')}/`,{
                method: 'PUT',
                body: formData,
                headers: {'Authorization' : `token ${token}`}
            })
                .then((response) => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.json()
                })
                .then((res) => {
                    console.log(res)
                })
                .catch((err) => {
                    document.getElementById('update-error').textContent = err
                })
        }
  </script>

{% endblock javascripts %}
